body {
    margin: 0;
    font-family: "Microsoft YaHei","Helvetica Neue","Helvetica","WenQuanYi Micro Hei",Arial,sans-serif;
    font-size: 16px;
    color : #222222;
}

#header {
    position: fixed;
    height:55px;
    width: 70%;
    margin-top: -55px;
    padding: 10px 15% 0px 15%;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
    background-color: #FFF;
}

.blog-name {
    font-size: 40px;
    float: left;
    margin-top:-10px;
    height: 100%;
    color: #555;
}

.menu {
    float: right;
    height: 100%;
}

.menu a {
    padding-top: 15px;
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 40px;
    text-decoration: none;
    color: #444;
}

a:hover{
    color:#2ca6cb;
}

#body {
    margin: 55px auto 0px auto;
    max-width: 850px;
    display: block;
}

#body .article {
    display: block;
    padding: 60px 0;
    border-top: 0.1px solid #EEE;
}

.article * {
    display:block;
    margin: 15px 0;
}

.article .head {
    font-size: 30px;
    color:#2ca6cb;
    cursor: pointer;
}

.article .head:hover {
    color: #2ca6cb;
}

.article .time {
    font-size: 13px;
    color: #777;
}

#page ul {
    height: 40px;
    margin: 0px auto;
    max-width: 850px;
}

#page ul li {
    display: block;
    float: left;
    width: 30px;
}

#page ul .page-link {
    cursor: pointer;
}

#page ul .page-link:hover {
    color: #2ca6cb;
}

#footer {
    min-height: 50px;
    color: #666;
    border-top: 0.1px solid #EEE;
    width: 100%;
}

#footer .framework {
    margin: 10px auto;
    width: 200px;
}
